*{
  box-sizing: border-box;
}

body{
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}


.main-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  position: relative;
  z-index: 2;
}

.main{
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.main-offers{
  display: grid;
  row-gap: 2rem;
  margin: 2.5rem 0 0 0;
}

.main-bg{
  position: absolute;
  width: 100%;
  height: 23rem;
  z-index: -1;
}

.main-phones{
  width: 100%;
  margin-top: -8.2rem;
  height: 28.2rem;
}

.main-section{
  color: hsl(233, 8%, 62%);
  text-align: center;
  max-width: 420px;
  margin: 1rem;
}

.main-section__header{
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  max-width: 420px;
}

.offer-header{
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  margin: 5rem 0 0 0;
}

.offer-text__header{
  font-weight: 400;
  font-size: 2rem;
  color: hsl(233, 26%, 24%);
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}

.offer-text__main{
  color: hsl(233, 8%, 62%);
  text-align: center;
  max-width: 420px;
  padding: 0 1rem 0 1rem;
}

.offer-list{
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.offer-text{
  text-align: center;
  color:hsl(233, 8%, 62%);
  max-width: 370px;
  padding: 0 1rem 0 1rem;
}

.sub-header{
  font-weight: 400;
  font-size: 2rem;
  color: hsl(233, 26%, 24%);
  margin: 0;
}

.sub-header__item{
  font-weight: 300;
  font-size: 1.5rem;
  color: hsl(233, 26%, 24%);
  margin: 0;
}

.art{
  display: grid;
  justify-items: center;
  row-gap: 2.5rem;
  margin: 5rem 0 0 0;
}

.article-content{
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.article{
  width: 80%;
  height: 100%;
  display: grid;
  row-gap: 1rem;
}

.article-img{
  width: 85%;
  border-radius: 0.5rem;
}

.article-underimg{
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  margin: 0; 
}

.article-header{
  color: hsl(233, 26%, 24%);
  font-weight: 700;
  margin: 0;
  text-decoration: none;
}

.article-text{
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem;
  margin: 0;
}


footer{
  background: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 0;
}

.footer-nav__list ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-nav__list-item{
  margin: 1rem 0 0 0;
}

.footer-nav__list-item a{
  text-decoration: none;
  color: white;
  margin: 1rem 0 0 0;
}

.footer-icons{
  margin: 2rem 0 1rem 0;
}

.footer-icons a{
  margin: 0 0.5rem 0 0.5rem;
}

.footer-btn{
  margin: 2rem 0 0 0;
}

.reserved{
  color: hsl(233, 8%, 62%);
  margin: 1.5rem 0 2rem 0;
  white-space: nowrap;
}

.logo{
  margin: 1.5rem 0 0 0;
}

/* mobile navigation - hamburger */
.mobile-nav{
  display: none;
  position: absolute;
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0) 0%,rgba(21, 31, 77, 0.986) 100%);
  z-index: 100;
}

.mobile-nav__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__list{
  background: rgb(238, 238, 238);
  width: 85%;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
}


.mobile-nav__list-item{
  padding: 1rem 0 1rem 0;
}

.mobile-nav__list-item a{
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  font-weight: 700;
}

.mobile-nav__list ul{
  list-style: none;
  text-align: center;
  font-size: 1.125rem;
  padding: 0;
}

.clickable{
  text-decoration: none;
  background: linear-gradient(to left,hsl(192, 70%, 51%) 0%,hsl(136, 65%, 51%) 100%);
  border-radius: 2rem;
  padding: 0.8rem;
  color: hsl(0, 0%, 100%);
}

.toggle-button{
  cursor: pointer;
}

.icon-close{
  display: none;
}

.open{
  display: block;
}

.close{
  display: none;
}

.main-nav__list{
  display: none;
}

.header-click{
  display: none;
}

.desktop-bg{
  display: none;
}

@media(max-width: 940px){
  .sub-header__item{
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
  }

  .main-phones{
    height: 500px !important ;
  }
}

@media(max-width: 740px){
  .main-section__header{
    font-size: 2rem;
  }
}

@media(max-width: 355px){
  .sub-header{
    font-size: 1.5rem;
  }

  .offer-text__header{
    font-size: 1.5rem;
  }
}

@media(max-width: 265px){
  .reserved{
    font-size: 0.8rem;
  }

  .offer-text__header{
    font-size: 1.1rem;
    font-weight: 700;
  }
}

@media(min-width: 640px){
  .toggle-button{
    display: none;
  }

  .clickable{
    opacity: 1;
    transition: 0.3s;
  }

  .clickable:hover{
    opacity: 0.7;
  }

  .offer-text__header{
    padding: 0 0 0 0.8rem;
  }

  /* header section */
  .main-header{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
  }

  .main-nav__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main-nav__list-item a{ 
    text-decoration: none;
    margin: 0 0.5rem 0 0.5rem;
    color: hsl(233, 8%, 62%);
    position: relative;
  }

  .main-nav__list-item a:hover{
    color: black;
  }

  .main-nav__list-item a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: hsl(136, 65%, 51%);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-in-out;
  }
  
  .main-nav__list-item a:hover::before{
    transform-origin: left top;
    transform: scale(1, 1);
  }
  
  .header-click{
    display: block;
    white-space: nowrap;
  }

  /* article section */
  
  .art{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 3rem 0 3rem;
  }

  .article-header{
    text-decoration: none;
  }

  .article-header:hover{
    color: hsl(136, 65%, 51%);
  }

  .sub-header{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: left;
    padding: 0 0 0 1.5rem;
  }

  .article-img{
    height: 180px;
  }

  /* offer section */

  .main-offers{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    padding: 0 3.2rem 0 3.2rem;
  }

  .offer-list{
    grid-template-rows: 1fr 0.5fr 2fr;
    justify-items: left;
    padding: 0 0 0 1rem;
  }

  .offer-text{
    text-align: left;
    max-width: 265px;
    padding: 0;
  }

  .offer-header{
    justify-items: left;
    padding: 0 0 0 3.2rem;
    margin: 0;
  }

  .offer-text__main{
    text-align: left;
    max-width: 570px;
  }


  /* top container  */

  .top-container{
    display: grid; 
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: "text phone";             
  }

  .image-container{
    position: relative;
    grid-area: phone;
    margin: 1rem 2rem 0 0;
  }
  
  .main{
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
    justify-content: center;
    align-items: center;
  }

  .main-phones{
    margin: 0;
    height: 700px;
  }

  .main-bg{
    display: none;
  }

  .desktop-bg{
    display: unset;
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -1;
  }

  .top-btn{
    width: 145px;
    text-align: center;
  }

  /* footer */

  footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "header navbar1 navbar2 request"
                         "icons navbar1 navbar2 reserved";
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    column-gap: 0.6rem;
  }

  .logo{
    margin: 0;
    grid-area: header;
    justify-self: center;
    padding: 0 0 1rem 0;
  }
  
  .footer-nav__list{
    grid-area: navbar1;
    margin: 0;
  }

  .footer-nav__list2{
    grid-area: navbar2;
  }

  .footer-nav__list ul{
    text-align: left;
    margin: 0 0 0.4rem 0;
  }

  .footer-nav__list-item a:hover{
    color: hsl(136, 65%, 51%);
  }

  .footer-btn{
    grid-area: request;
    margin: 0;
    justify-self: center;
  }

  .footer-icons{
    margin: 0;
    grid-area: icons;
    justify-self: center;
    padding: 1.5rem 0 0 0;
  }

  .reserved{
    margin: 0;
    grid-area: reserved;
    justify-self: center;
    padding: 1.5rem  0 0 0;
  }

  .icon:hover path{
    fill: hsl(136, 65%, 51%);
  }

}



